.blue{
    background-color: aquamarine;
    font-size: 40px;
    font-weight: bolder;
    padding: 15px;
}
#instruction{
    font-size:40px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}
#gif{
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 280px;
    width: 280px;
}
.border_light{
    border:2px solid darkgray; 
}
.dark{
    background-color: gray; 
}
.answer{
    z-index: -1;
    height: 100px;
    width: 320px;
    padding: 10px;
    border: 5px dashed gray;
    margin: 0; 
    font-size: 40px;
    font-weight: lighter;
}
.answer_letter{
    font-weight: bolder;
    color: black;
    padding-right:10px;
}
.padding{
    padding-top:10px;
}
.btn{
    text-align:center;
}
.submit_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.submit_button:hover {background-color: #3e8e41}

.submit_button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.clear_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f4511e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.clear_button:hover {background-color: #d34419}

.clear_button:active {
    background-color: #f4511e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#msg{
    text-align: center;
    color: gray;
    font-style: italic;
}
.ui-state-highlight{
    background-color: rgb(218, 213, 213);
}
#names{
    height: 300px;
    width: 500px;
    margin-top:25px;
    border: 5px dashed gray;
}