.display-3{
    margin-top: 80px;
    margin-bottom:80px;
}
a {
    color: inherit;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.btn_primary {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 12px 36px;
    margin-left: -76px;
}

.form_field {	
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0px 6px 10px 8px rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}