<html>
<head>
    <meta charset ="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
    <h1 id="score"></h1>
    <button id="btn_restart">restart</button>
    <button id="btn_exit">exit</button>
</body>
<script>
    score = {{score|tojson}};
    time={{seconds|tojson}};
    $(document).ready(function() {
        $("#score").text("Your score is:"+score+"/16");
        $("#btn_exit").click(function(){
            window.location.href = "/status";
        });
        $("#btn_restart").click(function(){
            window.location.href = "/flip_card/"+time;
        });
    });
</script>
</html>