<html>
<head>
    <meta charset ="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>
        .container {
            margin: 0 auto;
            margin-top: 50px;;
            width: 70vw;
            height: 85vh;
            background: #F2F2F2;
            border: 1px solid #ccc;
            box-shadow: 1px 1px 2px #fff inset,
                        -1px -1px 2px #fff inset;
            border-radius: 3px/6px;         
        }
        .padding{
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row padding">
            <h2>Training subject: Shape</h2>
        </div>
        <div class="row padding">
            <span>
                <h3>Time:xxx seconds</h3>
            </span>
            <span>
                <h3>Level:1</h3>
            </span>
        </div>
        <div class="row padding">
            <h3>Type:flipping-cards</h3>
            <p>When the mouse is hovering around the card, it will flip and show the shapes. When two flipping-cards 
                with similar shapes are clicked, they will be canceled. Please cancel all 16 cards within giving time
            period </p>
        </div>
        <div class="row">
            DEMO:
            <video width="320" height="200" controls>
                <source src="/static/other/intro_shape.mp4" type="video/mp4">
            </video>
        </div>
        <div class="row">
            <div class="col">
                <button>BACK</button>
            </div>
            <div class="col">
                <button>START</button>
            </div>
        </div>
    </div>
</body>