<html>
<head>
    <meta charset ="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename = 'flip_card.js') }}"></script>
    <script src="{{ url_for('static', filename = 'jquery.flip.min.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='flip_card.css') }}">
</head>
<body>
    <script>
        time_game = {{seconds|tojson}};
    </script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/status">Status</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/before_shape">Shape <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/before_letter">Letter <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
    <div id="progressBar">
        <div id="time_bar" class="bar"></div>
    </div>
    <div class="container">
        <div class="row padding">
            <div class="col">
                <div class="flip" id="img1"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img2"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img3"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img4"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="col">
                <div class="flip" id="img5"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img6"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img7"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img8"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="col">
                <div class="flip" id="img9"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img10"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img11"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img12"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="col">
                <div class="flip" id="img13"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img14"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img15"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="flip" id="img16"> 
                    <div class="front"> 
                        <img src="/static/shape/image.png" class="img">
                    </div> 
                    <div class="back">
                        <img src="/static/shape/3d.png" class="img">
                    </div> 
                </div>
            </div>
        </div>
    </div>
</body>