<html>
<head>
    <meta charset ="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'letter.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='letter.css') }}">
</head>
<body>
    <script>
        level = {{level|tojson}};
        answer={{answer|tojson}};
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/status">Status</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/before_shape">Shape <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/before_letter">Letter <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="contain">
        <div class="row">
            <div class="col-md-6">
                <img id="gif" src="/static/other/play.png">
                <div id="instruction">Click Above To Play</div>
            </div>
            <div class="col-md-6">
                <div id="names"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-5 answer">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row padding">
            <div class="col-md-6"></div>
            <div class="col-md-2">
                <button id="btn_clear" class="clear_button">CLEAR</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <button id="btn_submit" class="submit_button">SUBMIT</button>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
</html>