<html>
<head>
    <meta charset ="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='log_in.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='pop_up.css') }}">
</head>
<body>
    <script>
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
    <div class="container">
        <div class="popup">
            <span class="popuptext" id="myPopup">A memory training website that help train you memorization ability
                about shape and letter, type you name to get started!
            </span>
        </div>
        <div class="foo" onclick="myFunction()">
            <span class="letter" data-letter="MEMORY">MEMORY</span>
            <span class="letter" data-letter="TRAINING">TRAINING</span>
        </div>
        <div class="container__item">
            <form class="form">
                <input type="text" id="log_in_input" class="form_field" placeholder="Type Name You Prefer"/>
                <button type="button" id="log_in_btn" class="btn btn_primary uppercase">GO!</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#log_in_btn").click(function(){
                var user_id = $("#log_in_input").val();
                window.location.href = "/status?" + "user_id="+user_id;
            });
        });
    </script>
</body>