<html>
<head>
    <meta charset ="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='log_in.css') }}">
</head>
<style>
    .empty{
        padding: 20px;
    }
    .font-bigger{
        font-size: 19px;
    }
    .error{
        color:red;
        font-weight: bolder;
        font-size: 24px;
    }
</style>
<body>
    <div class="container">
        <h1 class="display-3">Memory Training</h1>
        <div class="container__item">
            <form class="form">
                <input type="text" id="log_in_input" class="form_field" placeholder="Type Your Name"/>
                <button type="button" id="log_in_btn" class="btn btn_primary uppercase">GO!</button>
            </form>
        </div>
        <div class="empty">
        </div>
        <blockquote class="blockquote text-right">
            <footer class="blockquote-footer font-bigger"><strong>A memory training website that help train you memorization ability
                of shape and letter, type your name to start!</strong>
            </footer>
        </blockquote>
        <div class="error"></div>
    </div>
    <script>
        $(document).ready(function() {
            $("#log_in_btn").click(function(){
                var user_id = $("#log_in_input").val();
                if ( user_id.length < 3 ){
                    $(".error").text("Your name is too short!");
                }
                else if(/^[A-Za-z\s]+$/.test(user_id) == false){
                    $(".error").text("Your name contains invalid characters!");
                }
                else{
                    window.location.href = "/status?" + "user_id="+user_id;
                }
            });
        });
    </script>
</body>